html, body {
    height: 100%;
}

/* Common */

.button-primary {
    background-color: #0866c6 !important;
    border-color: #0866c6 !important;
}

input[type=text]:focus, textarea:focus {
    border-color: #0866c6 !important;
}

textarea {
    min-height: 10em;
    resize: none;
}

header {
    background-color: #0866c6;
    color: white;
    height: 4.7em;
    padding: 1.5em;
}

header h1 {
    font-family: 'Droid Serif', serif;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

header h2 {
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    margin: -0.5em 0 0 0;
}

#wrapper {
    height: calc(100% - 4.7em - 3em);
}

#left-panel {
    background-color: #292929;
    min-height: 100%;
}

nav {
    color: #999;
}

nav ul {
    list-style-type: none;
}

nav > ul > li:first-of-type {
    background-color: #232323;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 0.3em 1em 0.2em;
    text-transform: uppercase;
}

.accordion ul {
    list-style-type: none;
}

.accordion ul ul {
    display: none;
    margin: 0;
}

.accordion ul li {
    border-bottom: 1px solid #232323;
    cursor: pointer;
    margin-bottom: 0;
}

.accordion ul li li {
    border-bottom: none;
}

.accordion ul li p {
    padding: 0.5em;
    margin-bottom: 0;
}

.accordion ul li:not(:first-of-type):hover {
    background-color: #2c2c2c;
}

.accordion ul ul li a {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #222;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    transition: all 0.15s;
}

.accordion ul ul li a:before {
    color: #c7c7c7;
    content: '\25b6';
    margin: 0 1em;
}

.accordion ul ul li a:hover {
    background-color: white !important;
}

#right-panel {
    background-color: #f2f2f2;
    min-height: 100%;
    margin-left: 0;
    width: 78%; /* Nine columns */
}

#page-header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 1em;
}

#page-header h3 {
    color: #0866c6;
    margin-bottom: 0;
}

#page-content {
    padding: 1.5em;
}

.panel {
    border: 2px solid #0866c6;
}

.panel-heading {
    background-color: #0866c6;
    color: white;
    padding: 0.5em;
}

.panel-content {
    padding: 0.5em 1.5em;
}