body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Table sorter */
table.tablesorter thead tr .header {
    background: url(../img/tablesorter/bg.gif) no-repeat center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../img/tablesorter/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../img/tablesorter/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #fbe8aa;
}

/* Autocomplete */
.ui-autocomplete {
    max-height: 10em;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 10em;
}

.ui-menu-item.ui-state-focus, .ui-menu-item:hover {
    background: #1d212d;
    border: 1px solid #1d212d;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.ui-menu-item.ui-state-focus a, .ui-menu-item:hover a {
    color: white;
}

/* Datepicker */
.ui-datepicker.ui-corner-all {
    border-radius: 0;
}

.ui-datepicker-next-hover {
    right: 2px !important;
    top: 2px !important;
}

.ui-datepicker-prev-hover {
    left: 2px !important;
    top: 2px !important;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ui-widget-header .ui-icon {
    background-image: url("../img/jquery-ui/ui-icons_ffffff_256x240.png")
}

.ui-widget {
    font-family: 'Raleway', sans-serif;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    border: 1px solid #1d212d;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    color: #333;
    font-weight: 400;
}

.ui-state-default:hover {
    background: #1d212d;
    border: 1px solid #1d212d;
    color: white;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background: #1d212d;
    border: 1px solid #1d212d;
    color: white;
    font-weight: 400;
}

.ui-widget-header {
    background: #1d212d;
    border: none;
    font-weight: 400;
}

/* Common */

.btn-primary, .btn-primary:focus, .btn-primary:hover {
    background-color: #1d212d;
    border-color: #1d212d;
}

.panel, .panel-heading {
    border-radius: 0 !important;
}

.panel-primary > .panel-heading {
    background-color: #1d212d;
    border-color: #1d212d;
}

.error403 {
    margin-bottom: 7em;
}

.error403.alert {
    border-radius: 0;
}

div.lock {
    background: url(../img/lock.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 7em;

    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.form-signin {
    background-color: white;
    margin: 4em auto;
    max-width: 25em;
    padding: 1em;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 1em;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    position: relative;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

#quick-bar {
    background-color: #1d212d;
    color: white;
}

#quick-bar p, #quick-bar ul {
    margin-bottom: 0;
}

#quick-bar p {
    padding: 1em 1em 0;
}

#quick-bar span.glyphicon {
    margin-right: 0.5em;
}

#quick-bar li span.glyphicon {
    float: left;
    font-size: 1.1em;
    margin-top: 0.2em;
}

#quick-bar p span.glyphicon {
    float: left;
    margin: 0.3em;
}

#quick-bar ul {
    list-style-type: none;
    text-align: right;
}

#quick-bar ul li {
    display: inline-block;
    margin: 0 -0.14em;
    padding: 0.8em 1em;
}

#quick-bar ul li:nth-child(2) {
    background-color: #343842;
}

#quick-bar ul li:last-child {
    background-color: #f9bb05;
    font-weight: bold;
}

#quick-bar ul li a {
    color: white;
    text-decoration: none;
}

nav {
    padding: 2em 0;
}

nav h1 {
    color: #1d212d;
    font-family: 'Droid Serif', serif;
    font-size: 3.4em;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

nav a, nav a:hover {
    color: #1d212d;
    text-decoration: none;
}

nav h2 {
    color: #b0b0b0;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    margin-top: -0.5em;
}

nav ul {
    list-style-type: none;
    margin: 3.2em 0 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0 -0.1em;
    padding: 0.8em 1em;
}

nav ul li a {
    color: #222;
    font-size: 1.1em;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

#news {
    padding: 3em 0;
}

#news h3 {
    font-size: 2.3em;
}

#news h4 {
    font-size: 1.6em;
    margin-top: 1em;
}

#news p {
    word-wrap: break-word;
}

#news span {
    display: block;
    margin-bottom: 1em;
}

#news div.news-item:not(:first-of-type) {
    margin-top: 3em;
}

#about-us {
    background-color: #91ba33;
    color: white;
    padding: 3em 0;
    text-align: center;
}

#about-us p {
    font-size: 1.8em;
}

/* Journey */
div.journey {
    background: url(../img/map.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 7em;

    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

div.journey form {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 4em 0;
    max-width: 25em;
    padding: 1em;
}

div.journey .btn {
    margin-top: 1em;
}

/* Schedules */
#schedules {
    margin-bottom: 4em;
    text-align: center;
}

#schedules table tr td:nth-child(5) {
    text-transform: capitalize;
}

#route {
    margin-top: 3em;
}

#route .place {
    padding: 0;
    position: relative;
}

#route .place span.dot {
    background: #fbe8aa;
    border-radius: 50%;
    display: block;
    height: 30px;
    margin-top: -2.9em;
    position: absolute;
    top: 76px;
    width: 30px;
}

#route .place h2 {
    font-size: 1.3em;
    margin: 0;
    position: absolute;
}

#route .place:first-of-type h2 {
    left: 20%;
    margin-left: -15px;
}

#route .place:last-of-type h2 {
    right: 20%;
    margin-right: -15px;
}

#route .place:first-of-type span.dot {
    left: 20%;
    margin-left: -15px;
}

#route .place:last-of-type span.dot {
    right: 20%;
    margin-right: -15px;
}

#route .place span.dot:after {
    background: #f9bb05;
    border-radius: 50px;
    content: ' ';
    height: 14px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 14px;
}

#route .place > .progress {
    border-radius: 0;
    box-shadow: none;
    height: 8px;
    margin: 3em 0;
    position: relative;
}

#route .place > .progress > .progress-bar {
    box-shadow: none;
    background: #fbe8aa;
    width: 100%;
}

#route .place:first-child > .progress {
    left: 20%;
    width: 80%;
}

#route .place:last-child > .progress {
    width: 80%;
}

/* Book */
#book {
    background: url(../img/tickets.png) no-repeat center center;
    background-size: cover;
    text-align: center;

    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

#controls {
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4em;
    margin-top: 4em;
    padding: 1em 1em 2em 1em;
    text-align: center;
}

#controls h2 {
    margin-bottom: 2em;
}

#controls p {
    font-size: 1.2em;
    margin: 1em 0;
}

#book-form {
    margin-bottom: 5em;
    margin-top: 4em;
}

#book-form button {
    margin-top: 3em;
}

footer {
    background-color: #1d212d;
    color: white;
    font-size: 0.9em;
}

footer h3 {
    font-size: 2.3rem;
    letter-spacing: 0;
}

footer ul {
    margin-bottom: 2.5rem;
    list-style-type: none;
    padding-left: 0;
}

footer div.row div:last-of-type ul li {
    padding: 0.5em 0;
}

footer li span.glyphicon {
    float: left;
    font-size: 1.1em;
    margin: 0.2em 0.5em 0 0;
}

footer ul li a {
    color: #91ba33;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
}

footer div#footer-content {
    padding: 4em 0;
}

footer div#copyright {
    background-color: #181b25;
    text-align: center;
}

footer div#copyright p {
    margin: 0;
    padding: 1.8em 0;
}

@media (max-width: 992px) {

    #quick-bar p {
        display: none;
    }

    #quick-bar ul {
        padding-left: 0 !important;
        text-align: center;
    }

    nav, nav ul {
        text-align: center;
    }

}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: 0 auto;
}